glass-table {
    background: rgba(255, 255, 255, 0.08) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 10px;
    border-color: rgba(255,255,255,0.3) !important;
}

.glass-table td,
.glass-table th {
    color: rgb(104, 97, 208) !important;
}
td.college-id {
    color: #312ae7 !important;
    font-weight: 600;
}
.candidate-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.4);
}